<div class="banner">
  <div>
    <h1>Free Spirits</h1>
    <p><strong>Making <em>pour</em> decisions since 1990</strong></p>
    <%= link_to "Make Yours Now", new_cocktail_path, id: "btn" %>
  </div>
</div>
