<div class="footer">
  <div class="footer-links">
    <a href="#">Free Spirits is a Trademark of Elyse International ®</a>
  </div>
  <div class="footer-copyright">
    Pour Decisions ♥︎ Great Memories
  </div>
</div>
