<div class="container">

  <h1>Add a New Cocktail</h1>

  <%= simple_form_for @cocktail, :html => { class: 'form' } do |f| %>
    <%= f.input :name %>
    <%= f.submit "Add a Cocktail", class: "btn btn-primary center-block" %> <br>
  <% end %>
  <div class="bottom">
  <%= link_to "Return to Cocktail List", cocktails_path, class: "btn btn-success center-block" %>
  </div>
</div>

